@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
@section styles{
<link href="~/lib/cropperjs/cropper.css" rel="stylesheet" />
<style>
    img {
        max-width: 100%; /* This rule is very important, please do not ignore this! */
    }

    #canvas {
        background-color: #ffffff;
        cursor: default;
        border: 1px solid black;
    }
</style>
}
<form enctype="multipart/form-data" method="post">
    <input type="file" name="file" id="fileInput" accept="image/*" />
    <button id="btnCrop">Crop</button>
    <button class="btn btn-primary">Upload</button>
    <div>
        <canvas id="canvas">
            Your browser does not support the HTML5 canvas element.
        </canvas>
    </div>

    <div id="result"></div>

    <input type="text" name="imageFile" hidden id="imageContent" />

</form>

@section scripts{
<script src="~/lib/cropperjs/cropper.js"></script>
<script>
    var canvas = $("#canvas"),
        context = canvas.get(0).getContext("2d"),
        $result = $('#result');

    $('#fileInput').on('change', function () {
        if (this.files && this.files[0]) {
            if (this.files[0].type.match(/^image\//)) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    var img = new Image();
                    const canv = document.getElementById('canvas');

                    img.onload = function () {
                        context.canvas.height = img.height;
                        context.canvas.width = img.width;
                        context.drawImage(img, 0, 0);

                        var cropper = new Cropper(canv,
                            {
                                aspectRatio: 16 / 9
                            });

                        $('#btnCrop').click(function (e) {
                            // Get a string base 64 data url
                            e.preventDefault()
                            var croppedImageDataURL = cropper.getCroppedCanvas().toDataURL("image/png");
                            console.log(croppedImageDataURL);
                            $("#imageContent").val(croppedImageDataURL);
                            //var myImage = new Image();
                            //myImage.src = croppedImageDataURL;
                            //context.fillRect(0, 0, 300, 150);
                            //context.clearRect(0, 0, canvas.width, canvas.height);
                            //debugger
                            //context.drawImage(myImage, 0, 0);
                            //$result.append($('<img>').attr('src', croppedImageDataURL));
                        });
                        $('#btnRestore').click(function (e) {
                            e.preventDefault();
                            canvas.cropper('reset');
                            $result.empty();
                        });
                    };
                    img.src = evt.target.result;
                };
                reader.readAsDataURL(this.files[0]);
            }
            else {
                alert("Invalid file type! Please select an image file.");
            }
        }
        else {
            alert('No file(s) selected.');
        }
    });
</script>
}

