
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />

<form enctype="multipart/form-data" method="post">
    <input type="file" name="file" id="file" />
    <button class="btn btn-primary" id="upload">Upload</button>
</form>

<output id="list"></output>

<h2 id="percent">0%</h2>

@section scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/notifyhub").build();
        connection.on("receiveProgress", function (progress) {
            console.log(progress);

            if (progress >= 100) {
                connection.stop();
            }
            $("#percent").text(progress + "%");
        });

        connection.start();

        var files = null;

        function handleFileSelect(evt) {
            files = evt.target.files; // FileList object

            var output = [];
            for (var i = 0, f; f = files[i]; i++) {
                output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                    f.size, ' bytes </li>');
            }
            document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
        }

        document.getElementById('file').addEventListener('change', handleFileSelect, false);

        $("#upload").click(function (e) {


            connection.invoke("SendProgress", 0);


        });




    </script>


}